body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    max-width: 1100px;
   margin-top: 2rem;
}

table{
    border: 1px solid black;
    width: 100%;
}

th{
    height: 40px;
    width:24px;
    font-size: 18px;
    padding:8px 8px;
}

td{
    text-align: center;
    vertical-align: bottom;
    padding: 12px;
}

td,th{
    border-bottom: 2px solid orange;
    border-right: 1px solid black;
}


.header{
    background-color: orange;
    margin-top: 13rem;
}